/* ******** CORES ******** */

/*
  preto: #414853
  midnight: #2c3e50
  vermelho: #cc170a
  vermelho-escuro: #c0392b
  amarelo: #f6ab42
  azul: #0181f9
  azul mais claro: #91b5d4
  azul claro: #f6ab42
  azul escuro: #cc170a
  cinza-claro-azulado: #a0b5cb
  cinza-escuro-azulado: #367eab
  clouds: #ecf0f1

*/

/* ******** GERAL ******** */
html,
body{
	heigth: 100%;	
}
.content{
	min-height: 100%;
	position: relative;
}



/* ******** FONTES ******** */

@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/* ******** NAVBAR ******** */
.navbar-estilo{
	background-color: #fafafa;
	padding: 15px 0 15px 0;
	border-bottom: 1px solid #a0b5cb;
	border-radius: 0;
	width: 100%;	
	margin-bottom: 0;
}
.container ul li a{
	margin: 0px;
	padding: 20px;
	font-size: 16px;
}
.container ul li a:hover{
	background-color: #a0b5cb;
	color: #ecf0f1;
}

/* ******** FONTES ******** */
*{
	font-family: 'Josefin Sans', Caviar Dreams, sans-serif;	
	color: #414853;
}
h1,
h2,
h3,
h4,
h5{
	font-family: 'Open Sans', sans-serif;
}
h1{ 
	font-weight: 700;
	font-size: 30px;
	color: #2c3e50;
}
h4{
	font-weight: 700;
	color: #a0b5cb;
}

/* ******** BACKGROUND ******** */
.bg-clouds{
	background-color: #ecf0f1;
}
.bg-branco{
	background-color: #fff;
}
.banner{
	background-image: url("../images/banner-tiantenado4.png");
	height: 345px;
	width: 100%;
}
.imgPerfil{
	height: 250px;
	background-repeat: no-repeat;
    background-position: center; 
    -moz-border-radius: 70px; 
   -webkit-border-radius: 70px; 
   border-radius: 70px;
}
.detalhePerfilProfessor{
	padding: 20px;
}
.detalheCurso{
	padding: 20px;
}
.menu{
	border-bottom: 1px solid #bdc3c7;
}

/* ******** FONTES ******** */

.texto-cinza-azulado{
	color: #367eab;	
}
.texto-branco{
	color: #fff;
}
.texto{
	font-size: 20px;
	line-height: 1.6;
}
.texto-tabela{
	font-size: 16px;
}
.texto-botao{
	font-size: 16px;
}
.borda-esquerda{
	border-left: 10px solid #367eab;
}
.margem-direita{
	margin-right: 10px;
}
.entrar{
	margin-top: 0px;
}
.underline-titulo:after{
	content: "";
	display: block;
	height: 2px;
	background-color: #a0b5cb;
	width: 200px;
	margin: 14px auto 14px 0;  	
}
ul{
	list-style: none;;
}
ul li span{
	padding-right: 15px;
	font-size: 15px;
}
/* ******** ESPACAMENTO ******** */

.padding-top{
	padding-top: 20px;
}

/* ********IMAGEM ******** */
.borda-img{
	border: 1px solid #a0b5cb;
}
.container-img{
	padding: 10px;
}
.container div div a.link-img:hover{
	text-decoration: none;
}




/* ******** FOOTER ******** */
footer{
	background-color: #2c3e50;
	position: absolute;
	bottom: 0;
	width: 100%;
}
.padding-footer{
	padding-bottom: 350px;
}
footer div div div p a{
	color: #ecf0f1;
}
footer div div div p a:hover{
	color: #a0b5cb;
}
footer label{
	color: #ecf0f1;
}
footer small{
	color: #a0b5cb;
	display: inline-block;
	font-size: 13px;
	font-family: 'Open Sans', sans-serif; 
	float: right;
	padding-bottom: 20px;
}
footer small a:hover{
	color: #a0b5cb;	
}
.hr-footer{
	content: "";
	background-color: #a0b5cb;
	height: 1px;
	margin-top: 15px;
}




.form-box {
	margin-top: 35px;
}

.form-top {
	overflow: hidden;
	padding: 0 25px 15px 25px;
	background: #fff;
	-moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0; border-radius: 4px 4px 0 0;
	text-align: left;
}

.form-top-left {
	float: left;
	width: 75%;
	padding-top: 25px;
}

.form-top-left h3 { margin-top: 0; }



.form-bottom form textarea {
	height: 100px;
}

.form-bottom form button.btn {
	width: 100%;
}

.form-bottom form .input-error {
	border-color: #4aaf51;
}

