<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" layout:decorator="default/layout">
<head>
<title>Getting Started: Serving Web Content</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>
<body>
	<div layout:fragment="content">
		<div class="row">

			<div class="col-lg-6">
				<h1>Projeto Profissional TI Antenado 2017</h1>
				<p class="texto">
					O curso de Ciência da Computação da UNISAL de Lorena oferece,
					gratuitamente, o programa de extensão <strong>Profissional
						TI Antenado.</strong> Em sua quinta edição, o projeto tem por objetivo
					fornecer rápida atualização e capacitação profissional aos alunos
					por meio de cursos rápidos voltados à area de tecnologia da
					informação.
				</p>
				<a href="#" class="btn btn-primary texto-botao">Saiba mais</a>
			</div>

			<div class="col-lg-6">
				<br /> <br />
				<div class="col-md-offset-3">
					<div>
						<h1>Inscreva-se</h1>
						<p class="texto">Conte-nos um pouco sobre você:</p>
					</div>


					<br />

					<form>
						<div class="row">
							<div class="form-group col-md-12">
								<input type="text" class="form-control" id="nome" name="nome"
									placeholder="Nome completo *" />
							</div>
						</div>

						<div class="row">
							<div class="form-group col-md-12">
								<input type="text" class="form-control" id="email" name="email"
									placeholder="Seu melhor e-mail *" />
							</div>
						</div>

						<div class="row">
							<div class="form-group col-md-6">
								<input type="text" class="form-control" id="telefone"
									name="telefone" placeholder="Telefone *" />
							</div>

							<div class="form-group col-md-6">
								<input type="text" class="form-control" id="celular"
									name="celular" placeholder="Celular" />
							</div>
						</div>

						<div class="row">
							<div class="form-group col-md-6">
								<input type="password" class="form-control" id="senha"
									name="senha" placeholder="Senha *" />
							</div>

							<div class="form-group col-md-6">
								<input type="password" class="form-control" id="confirmarsenha"
									name="confirmarsenha" placeholder="Confirmar senha *" />
							</div>
						</div>

						<a href="/usuario" class="btn btn-primary texto-botao">Seguinte
							>></a>
					</form>

				</div>
			</div>
		</div>
	</div>
</body>
</html>