<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="Layout/LayoutPadrao">


<section layout:fragment="conteudo">

	<body>

		<!-- Top content -->

		<div class="container margin-bottom">

			<div class="row">
				<div class="col-lg-3 col-md-offset-4">
					<h1 class="underline-titulo padding-top">Entrar</h1>
				</div>
			</div>

			<div class="row">

				<div class="col-lg-4 col-md-offset-4 texto">
					<p>Faça login para acessar o sistema.</p>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-4 col-md-offset-4 padding-top">
					<form role="form" th:action="@{/login}" method="post"
						class="login-form">
						<div class="form-group">
							<label class="sr-only" for="form-username">Username</label> <input
								type="text" id="username" name="username" placeholder="Email"
								class="form-username form-control" />
						</div>
						<div class="form-group">
							<label class="sr-only" for="form-password">Password</label> <input
								type="password" id="password" name="password"
								placeholder="Senha" class="form-password form-control" />
						</div>
						<div th:if="${param.error}" class="alert alert-danger">
							<span
								class="glyphicon glyphicon-exclamation-sign glyphicon-vermelho"
								aria-hidden="true"></span> Usuário ou Senha inválidos!
						</div>

						<div th:if="${param.logout}" class="alert alert-warning">
							<span
								class="glyphicon glyphicon-exclamation-sign glyphicon-amarelo"
								aria-hidden="true"></span> Você está desconectado do sistema.
							Para acessar efetue login novamente.
						</div>
						<button type="submit" class="btn btn-danger texto-botao">Entrar</button>
					</form>
				</div>
			</div>
			
			
		</div>



	</body>


</section>
</html>