<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="UTF-8" />
	<title>TI Antenado 2017</title>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="/css/stylesheet.css" />
	<link rel="stylesheet" href="/css/font-awesome.min.css" />
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
</head>



<body>
	<div class="content">

		<!-- <nav class="navbar navbar-inverse navbar-fixed-top navbar-teste"> -->
		<nav class="navbar navbar-estilo">
			<div class="container-fluid">
				<!--  <div class="navbar-header">
				<a class="navbar-brand" href="#">WebSiteName</a>
			</div> -->
				<div class="container">
					<ul class="nav navbar-nav">
						<li><a href="/home">Início</a></li>
						<li><a href="/cursos">Cursos</a></li>
						<li><a href="#">Sobre</a></li>
						<li><a href="#">Contato</a></li>

						<!--  <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Page 1 <span class="caret"></span></a>
				        <ul class="dropdown-menu">
				          <li><a href="#">Page 1-1</a></li>
				          <li><a href="#">Page 1-2</a></li>
				          <li><a href="#">Page 1-3</a></li>
				        </ul>
				    </li>  -->
					</ul>
					<ul class="nav navbar-nav navbar-right">

						<form sec:authorize="isAuthenticated()" id="frmLogout"
							th:action="@{/logout}" method="post">
							<li>Bem vindo <span sec:authentication="name">Guest</span></li>
							<li><a href="javascript:{}"
								onclick="document.getElementById('frmLogout').submit();return false;">Sair</a></li>
						</form>
						<li sec:authorize="not isAuthenticated()"><a href="/login"
							class="texto-botao">Acessar minha conta</a></li>

					</ul>
				</div>
			</div>
		</nav>

		<!-- <div class="banner"></div> -->




		<section layout:fragment="conteudo"></section>



		<footer class="padding-top">
			<div class="container">
				<div class="row">
					<div class="col-lg-4">
						<h4>Projeto Profissional TI Antenado 2017</h4>
						<p class="padding-top">
							<a href="#">Início</a>
						</p>
						<p>
							<a href="#">Cusrsos</a>
						</p>
						<p>
							<a href="#">Sobre</a>
						</p>
						<p>
							<a href="#">Contato</a>
						</p>
					</div>

					<div class="col-lg-4">
						<h4>Institucional</h4>
						<p class="padding-top">
							<a href="#">Conheça a UNISAL</a>
						</p>
						<p>
							<a href="#">Projetos anterios</a>
						</p>
						<p>
							<a href="#">Perguntas frequentes</a>
						</p>
					</div>

					<div class="col-lg-4">
						<h4>Fique informado do início de novas turmas</h4>
						<form class="padding-top">
							<div class="row">
								<div class="form-group col-lg-12">
									<label for="contato">E-mail:</label> <input type="text"
										class="form-control" id="contato" name="contato"
										placeholder="Seu melhor e-mail*" /> <br />
									<button type="button" class="btn btn-danger texto-botao">Cadastrar</button>
								</div>

							</div>
						</form>
					</div>
				</div>



				<div class="hr-footer">
					<small class="padding-top"> Desenvolvido por <a href="#">Desenvolvedores
							Unisal</a>
					</small>
				</div>
			</div>
		</footer>




		<script type="text/javascript" src="/js/jquery.js"></script>
		<script type="text/javascript" src="/js/jquery.min.js"></script>
		<script type="text/javascript" src="/js/bootstrap.js"></script>
	</div>


</body>
</html>