<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorator="Layout/LayoutPadrao">

<serction layout:fragment="conteudo"> 
<div class="container">
		<!-- INICIO CONTEUDO -->
		
		<div class="row">

				<div class="col-md-2"></div> 
				<div class="col-md-8 offset-md-6 padding-top">
					<div>
						<h1>Cadastro de Professor</h1>
						<p class="texto">Conte-nos mais sobre você e suas experiências:</p>
					</div>
					

					<form class="padding-top">
						<div class="row">
							<div class="form-group col-md-12">
								<label for="nome">Nome</label>
								<input type="text" class="form-control" id="nome" name="nome"
									placeholder="Nome completo *" th:value="${usuario.nmUsuario}"/>
							</div>
						</div>
						
						<div class="row">
							<div class="form-group col-md-12">
								<label for="data">Data de nascimento</label>
								<input type="date" class="form-control" id="data" name="data"
									placeholder="Data de nascimento *" />
							</div>
						</div>

						<div class="row">
							<div class="form-group col-md-6 col-sm-6">
								<label for="endereco">Endereço</label>
								<input type="text" class="form-control" id="endereco" name="dsEndereco" placeholder="Endereço *" />
							</div>

							<div class="form-group col-md-6 col-sm-6">
								<label for="cidade">Cidade</label>
								<input type="text" class="form-control" id="cidade" name="dsCidade" placeholder="Cidade *" />
							</div>
						</div>

						<div class="row">
							<div class="form-group col-md-6 col-sm-6">
								<label for="telefone">Telefone</label>
								<input type="text" class="form-control" id="telefone"
									name="nrFone" placeholder="XX XXXX-XXXX *" />
							</div>

							<div class="form-group col-md-6 col-sm-6">
								<label for="celular">Celular</label>
								<input type="text" class="form-control" id="celular"
									name="nrCel" placeholder="XX XXXXX-XXXX" />
							</div>
						</div>

						<div class="row">
							<div class="form-group col-md-12">
								<label for="linkedin">Linkedin</label>
								<input type="text" class="form-control" id="linkedin" name="linkedin"
									placeholder="Endereço Linkedin" />
							</div>
						</div>

						<div class="row">
							<div class="form-group col-md-6 col-sm-6">
								<label for="empresa">Empresa</label>
								<input type="text" class="form-control" id="emapresa" name="empresa"
									placeholder="Empresa" />
							</div>

							<div class="form-group col-md-6 col-sm-6">
								<label for="cargo">Cargo</label>
								<input type="text" class="form-control" id="cargo" name="cargo"
									placeholder="Cargo" />
							</div>
						</div>

						<div class="row">
							<div class="form-group col-md-12">
								<label for="email">Email</label>	
								<input type="text" class="form-control" id="email" name="email"
									placeholder="Seu melhor e-mail *" th:value="${usuario.dsEmail}"/>
							</div>
						</div>

						<div class="row">
							<div class="form-group col-md-6 col-sm-6">
								<label for="senha">Senha</label>
								<input type="password" class="form-control" id="senha"
									name="senha" placeholder="Senha *" />
							</div>

							<div class="form-group col-md-6 col-sm-6">
								<label for="confirmarsenha">Confirmar senha</label>
								<input type="password" class="form-control" id="confirmarsenha"
									name="confirmarsenha" placeholder="Confirmar senha *" />
							</div>
						</div>

						<button type="submit" class="btn btn-primary texto-botao">Cadastrar</button>
					</form>

				</div>
			
		</div>

		<!-- FIM CONTEUDO -->
</div>
</serction>
</html>