<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8" />
<title>TI Antenado 2017</title>
<link rel="icon" href="/images/ValeNight.ico" />
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/css/stylesheet.css" />

</head>
<body class="container">
	
	<div class="row menu">
		<img src="images/logo-tiantenado.png" alt="" />
	</div>

	<div class="row teste">
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
	</div>

	<div class="row">
		<div class="col-lg-6 text-center">
			<br/>
			<br/>
			<h2>Projeto TI Antenado 2017</h2>
		</div>

		<div class="col-lg-6 text-center">
			<br/>
			<br/>
			<h2>Inscreva-se</h2>
			<p class="text-gray">Conte-nos sobre você:</p>
		</div>
	</div>
		

 






	<script type="text/javascript" src="/js/jquery.js"></script>
	<script type="text/javascript" src="/js/jquery.min.js"></script>
	<script type="text/javascript" src="/js/bootstrap.js"></script>
</body>
</html>