<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorator="Layout/LayoutPadrao">

<section layout:fragment="conteudo"> <!-- INICIO CONTAINER 1 -->
	<div class="bg-branco padding-footer">
		<div class="container padding-top">
			<!-- INICIO CONTEUDO 1 -->
			<div class="row">
				<div class="col-sm-6 col-md-4">
					<div class="thumbnail">
						<div class="caption">	
							<span class="glyphicon glyphicon-envelope"></span>	
							<i class="fa fa-book" aria-hidden="true"></i>
							<i class="fa fa-clock"></i>
							<span class="glyphicon glyphicon-book"></span> Book
							<h3>Título curso</h3>
							<p class="texto">testestestestestestesteste</p>
							<p><a href="#" class="btn btn-default texto-botao" role="button">Button</a></p>
						</div>
					</div>
				</div>
			</div>
			<!-- FIM CONTEUDO 1 -->

		</div>
	</div>
</section>
</html>