<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="Layout/LayoutPadrao">

<serction layout:fragment="conteudo"> <!-- INICIO CONTAINER 1 -->
<div class="bg-branco">
	<div class="container padding-top">
		<!-- INICIO CONTEUDO 1 -->
		<div class="row">
			<div class="col-lg-6">

				<div class="underline-titulo">
					<h1 th:text="${curso.nmCurso}">
						HTML5 / CSS3<br />
					</h1>
					<p th:text="${curso.dtInicio}">
						<date>01/03/2017</date>
					</p>
				</div>


				<p class="texto padding-top" th:text="${curso.dsCurso}">
					O curso de Ciência da Computação da UNISAL de Lorena oferece <strong>gratuitamente</strong>
					o programa de extensão <strong>Profissional TI Antenado.</strong>
					Em sua quinta edição, o projeto tem por objetivo fornecer rápida
					capacitação profissional aos alunos por meio de cursos rápidos
					voltados à area de tecnologia da informação, provendo aos alunos
					capacidade de trabalhar com as ferramentas atuais do mercado de
					trabalho.
				</p>
			</div>
			<div class="col-lg-5 padding-top">

				<div class="col-lg-12">
					<div class="media">
						<div class="media-left">
							<img th:src="${curso.professor.dsImagem}" class="media-object"
								style="width: 100px" />
						</div>
						<div class="media-body">
							<h4>
								<strong>Professor: </strong>
							</h4>
							<h4 class="media-heading" th:text="${curso.professor.nmUsuario}"></h4>
							<br />

							<p>
								<i class="glyphicon glyphicon-education"></i> <strong>Formação:
								</strong><i th:text="${curso.professor.dsFormacao}"></i>
							</p>

							<p>
								<i class="glyphicon glyphicon-thumbs-up"></i> <strong>Facebook:
								</strong><i th:text="${curso.professor.dsFacebook}"></i>
							</p>
							<p>
								<i class="glyphicon glyphicon-envelope"></i> <strong>E-mail:
								</strong><i th:text="${curso.professor.dsEmail}"></i>
							</p>
							<p>
								<i class="glyphicon glyphicon-info-sign"></i> <strong>Linkedin:
								</strong><i th:text="${curso.professor.dsLinkedin}"></i>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- FIM CONTEUDO 1 -->

	</div>
</div>
</serction>
</html>